SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DB_USER=ecommerce_user
DB_PASS=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_db
DATABASE_URL=postgresql+asyncpg://ecommerce_user:password@localhost:5432/ecommerce_db

YOOKASSA_SHOP_ID=123456
YOOKASSA_SECRET_KEY=live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
YOOKASSA_RETURN_URL=https://example.com/
