SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DB_USER=ecommerce_user
DB_PASS=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_db
DATABASE_URL=postgresql+asyncpg://ecommerce_user:password@localhost:5432/ecommerce_db

YOOKASSA_SHOP_ID=123456
YOOKASSA_SECRET_KEY=live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
YOOKASSA_RETURN_URL=https://example.com/

CORS_ORIGINS=http://174-store.ru,https://174-store.ru

CDEK_CLIENT_ID=wqGwiQx0gg8mLtiEKsIo0Cs1DgNNFVzA
CDEK_CLIENT_SECRET=RmAmgvSgSl1yirlz9QupbzOJVqhCxcP5
CDEK_API_URL=https://api.edu.cdek.ru

VITE_YANDEX_MAPS_API_KEY=

VITE_OWNER_NAME=
VITE_OWNER_PHONE=
VITE_OWNER_INN=
